body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    background-color: rgb(71, 71, 237, .75);
}

/* header, body div, footer {
    border: 1px solid red;
} */

.customize-buttons {
    display: flex;
    justify-content: center;
    gap: 3vw;
    margin-bottom: 2vw;
}

.grid-size {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1vw 2vw;
    border: none;
    border-radius: 1vw;
    font-size: 1.5vw;
    background-color: azure;
}

.sketch-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: red;
    align-self: center;
    padding: 2vw 4vw;
    border-radius: 4vw;
}

.title {
    text-align: center;
    /* border: 1px solid blue; */
    margin-bottom: 1vw;
    font-family: 'Brush Script MT', cursive;
    color: rgb(216, 189, 36);
    font-size: 4vw;
}

.grid-container {
    border: 1px solid black;
    width: 550px;
    height: 550px;
}

@media screen and (max-width: 500px) {
    .grid-container {
        width: 325px;
        height: 325px;
    }

    footer {
        font-size: 2vw;
    }
}

@media screen and (max-width: 350px) {
    .grid-container {
        width: 250px;
        height: 250px;
    }
}

.sketch-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 1vw;
    /* border: 1px solid black; */
}

.dial {
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
    background-color: lightgrey;
    border-style: outset;
}

.reset {
    align-self: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1vw 2vw;
    border-radius: 1vw;
    color: black;
    font-size: 1.5vw;
    background-color: azure;
    border-style: outset;
}

footer {
    margin-top: 2vw;
    color: white;
    text-align: center;
}