body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

/* header, body div, footer {
    border: 1px solid red;
} */

.grid-container {
    border: 1px solid black;
    width: 550px;
    height: 550px;
}

.sketch-container {
    display: flex;
    justify-content: center;
    background-color: red;
    align-self: center;
    padding: 3vw;
    border-radius: 4vw;
}

@media screen and (max-width: 500px) {
    .grid-container {
        width: 325px;
        height: 325px;
    }
}

@media screen and (max-width: 350px) {
    .grid-container {
        width: 250px;
        height: 250px;
    }
}